.chat_body{
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: scroll;
}
.chat_message{
    position: relative;
    font-size: 16px;
    padding: 16px;
    width: fit-content;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 40px;
   
}
.sender-name{
    position: absolute;
    top: -17px;
    font-weight: 800;
    font-size: small;
     

}
.time-stamp{
    margin-left: 10px;
    font-size: x-small;
}
.chat_receiver{
    margin-left: auto;
    background-color: #dcf8c6;
}